html, body {
  margin: 0;
  padding: 0;
}
 
body {
 font-family: 'Alegreya', serif;
 font-weight: 300;
}

h1 {
  color: plum
  /* Try putting some styling for h1 here */
}
 
.container {
  padding: 10px;
}
 
.nav { 
  background: transparent;
  width: 100%;
  position: fixed;
}
 
.nav ul {
  text-align: right;
  list-style: none;
  padding: 0;
}
 
.nav ul li {  
  display: inline-flex; 
  padding: 0px 2% 0px;
}
 
.nav ul li a {  
  color: white;
  font-size: x-large;
  text-decoration: none
}
 
.nav ul li:hover {
  cursor: pointer; 
  font-weight: bold;  
}

.footer { 
  background: beige;
  height: 80px; 
  padding-bottom: 20px;
}

.footer p { 
  color: plum;
  font-size: 14px;  
  height: 80px; 
  line-height: 80px;
  margin: 0;  
  text-align: center
}


.jumbotron {
  background-size: cover;
  height: 100vh;
}
 
.jumbotron.bookpic {
  background-image: url('images/yellowflower.jpg');
}
.jumbotron.contact {
  background-image: url('images/blueflower.jpg');
}
.jumbotron.pages {
  background-image: url('images/purpleflower.jpg');
}
.jumbotron.pastelbluebook {
  background-image: url('images/flowerbackground.jpg');
}



.jumbotron.pastelbluebook .indextitle {
  padding: 10% 5%;
  font-family: 'Amiri', serif;
  
}

.jumbotron .indexsubtitle {
  padding: 10% 5% 1%;
  margin: 0px;
  font-family: 'Optima', sans-serif;
}

#abouttitle {
  padding: 10% 5%;
  color: #52803d
}

#aboutsubtitle {

}

#indexnav {
  color: #52803d
}

#aboutnav {
  color: #ddbbfc
}

#blogtitle {
  padding: 10% 5%;
  color:white
}

#blognav {
  color: #52803d
}

#contactnav {
  color:#73bf74
}

#contacttitle {
  padding: 10% 5%;
  color: #6f99d9
}