html, body {
  margin: 0;
  padding: 0;
}
 
body {
 font-family: 'Work Sans', sans-serif;
 font-weight: 300;
}

h1 {
  color: plum
  /* Try putting some styling for h1 here */
}
 
.container {
  padding: 10px;
}
 
.nav { 
  background: transparent;
  width: 100%;
  position: fixed;
}
 
.nav ul {
  text-align: right;
  list-style: none;
  padding: 0;
}
 
.nav ul li {  
  display: inline-flex; 
  padding: 0px 2% 0px;
}
 
.nav ul li a {  
  color: white;
  font-size: x-large;
  text-decoration: none
}
 
.nav ul li:hover {
  cursor: pointer; 
  font-weight: bold;  
}

.footer { 
  background: beige;
  height: 80px; 
  padding-bottom: 20px;
}

.footer p { 
  color: plum;
  font-size: 14px;  
  height: 80px; 
  line-height: 80px;
  margin: 0;  
  text-align: center
}




h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
}

.jumbotron {
  background-size: cover;
  height: 100vh;
}
 
.jumbotron.bookpic {
  background-image: url('images/bookpic.jpeg');
}
.jumbotron.contact {
  background-image: url('images/contactbackground.jpg');
}
.jumbotron.pages {
  background-image: url('images/pages.jpg');
}
.jumbotron.pastelbluebook {
  background-image: url('images/pastelbluebook.jpg');
}